@page
@model AdminWebApp.Pages.CategoriesModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Categories</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Parent Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.CategoryList)
            {
            <tr>
                <td>@category.Id  </td>
                <td>@category.Name</td>
                <td>@category.Parent.Name</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@category.Id">Edit</a> |
                    <button type="submit" asp-page-handler="delete"
                            asp-route-id="@category.Id">
                        delete
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a asp-page="./Create">Create New</a>
</form>

