@model Product


<div class="card" style="width: 18rem;">
    <img asp-append-version="true" class="card-img-top" src=@Model.ImageUrl alt="">
    <div class="card-body">
        <h4 class="card-title color-main">@Html.ActionLink(Model.Name, "ProductDetails", new {id=Model.Id })</h4>
        <div class="row">
            <div class="col">
                <p class="btn btn-danger btn-block">@Model.Price $</p>
            </div>
            <div class="col">

                @*<a asp-page="Cart" asp-route-productId="@Model.Id" class="btn btn-success btn-block">Add to Cart</a>*@

                <form asp-page-handler="AddToBasket" method="post" name="addToCartForm" id="add_cart_form">
                    @*<a href="javascript:;" onclick="parentNode.submit();" class="btn btn-success btn-block">Add to Cart</a>*@
                    <a class="navbar-brand" asp-area="">@Html.ActionLink("Add to Basket", "AddToBasket", "Basket", new { productId = @Model.Id })</a>
                    <input type="hidden" asp-for="@Model.Id" name="productId" />
                </form>

            </div>
        </div>
    </div>
</div>